@font-face {
    src: url('../fonts/NunitoSans-Regular.ttf');
    font-family: 'Nunito Sans';
}

@font-face {
    src: url('../fonts/YesevaOne-Regular.ttf');
    font-family: 'Yeseva One';
}

body {
    margin: 0;
    font-family: 'Nunito Sans', Arial;
}

body * {
    box-sizing: border-box;
}

.container {
    max-width: 1256px;
    margin: 0 auto;
}

.button {
    background: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border-radius: 2px;
    outline: 0;
    border: 0;
    padding: 13px 33px;
    font-style: italic;
    font-weight: normal;
    font-size: 11px;
    line-height: 15px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    height: 37px;
    width: 161px;
    cursor: pointer;
}

.logo {
    color: #E3B873;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 15px;
    text-transform: uppercase;
}

.header {
    background-color: #131313;
}

.header-content {
    display: flex;
    justify-content: space-between;
    height: 83px;
    align-items: center;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 15px;
    text-transform: uppercase;
}

.header-navigation {
    list-style: none;
    display: flex;
}

.header-navigation__item {
    margin-right: 47px;
}

.header-navigation__link {
    text-decoration: none;
    color: #FFFFFF;
}

.header-navigation__link:hover {
    position: relative;
    transition-property: color;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
    color: #E3B873;
}

.link-number {
    text-decoration-line: underline;
}

.imageback {
    background-image: url(../images/imageback.jpg);
    background-size: cover;
    height: 707px;
    padding-top: 194px;
}

.imageback-overlay {
    content: '';
    position: absolute;
    top: 83px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .7);
    height: 707px;
}

.imageback-container {
    position: relative;
    z-index: 1;
}

.title {
    margin: 0;
    font-style: normal;
    font-family: 'Yeseva One', 'Times New Roman', Times, serif;
    font-weight: normal;
    font-size: 40px;
    line-height: 53px;
    text-transform: uppercase;
    color: #FFFFFF;
    width: 676.11px;
}

.subtitle {
    /* margin: 0; */
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 36px;
    color: #FFFFFF;
    width: 504px;
}

.cost {
    padding: 19px 42px 20.65px 41px;
    width: 207px;
    height: 51px;
}

.application {
    padding: 19px 23px 20.57px 22px;
    background: none;
    box-shadow: none;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 2px;
    text-align: center;
    width: 207px;
    height: 51px;
}

.button__space {
    width: 434px;
    display: flex;
    justify-content: space-between;
}

.section-second  {
    background-color: #131313;
    height: 1074px;
    margin: 0;
    /* padding-left: 130px; */
}

.section-second__container {
    height: 553px;
    width: 1171px;
    padding-top: 107px;
}

.sub-navigation {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.3);
    margin-bottom: 45.36px;
}

.sub-navigation__item {
   padding-right: 60px;
   /* display: list-item; */

}

.sub-navigation__link {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.3);

}

.sub-navigation__link:hover {
    color: #E3B873;
    /* text-decoration-line: underline; */
    padding-bottom: 10px;
    border-bottom: 1px #E3B873 solid;
    cursor: pointer;

}


.section-second-container {
    display: flex;
    flex-direction: row;
}

.container-second {
    display: flex;
    justify-content: space-between;
}

.image {
    background-image: url(../images/image2.1.jpg);
    height: 483px;
    width: 679px;
    padding: 10px;
    
}

.slider-container {
    height: 483px;
    width: 679px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    /* padding: 10px; */
    /* position: relative; */
}

.image-container {
    width: 2037px;
    height: 483px;
    /* padding: 10px; */
    position: relative;
    /* transition: left 2s; */
    transition: opacity 800ms ease;
}

.slider-image {
    float: left;
    margin: 0;
    padding: 0;
}

/* .slider-image__pic {
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    transition: opacity 800ms ease;
} */

.completed {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    line-height: 37px;
    letter-spacing: -0.07em;
    text-transform: uppercase;
    height: 66px;
    width: 253px;
    margin: 0;
}

.second-text__two {
    height: 201px;
    width: 476px;
    display: flex;
    flex-flow: column wrap;
    
}

.second-text-two__div1 {
    height: 150px;
    width: 156px;
    /* padding-left: 34px;
    padding-bottom: 34px; */
}

.second-text-two__div2 {
    height: 150px;
    width: 213px;
}

.div-title {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: #E3B873;
    margin: 18px 0px;
}

.div-subtitle {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 21px;
    color: #FFFFFF;
    padding: 0px;
    margin: 0px;
}

.div-subtitle__third {
   padding: 0px 0px 15px;
}

.subtitle-second {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 27px;
    color: #FFFFFF;
}

.button-container {
    width: 205.68px;
    height: 13.28px;
    margin-top: 79.64px;
    position: relative;
}

.slider-dot {
    /* width: 63.78px;
    height: 9.57px; */
    display: flex;
}

.dot-right {
    margin-right: 17.54px;
}

.slider-dot__item:hover, .slider-dot__item.active {
    background-color: white;
}

.slider-dot::before{
    content: url(../icons/arrow.svg);
    display: inline-block;
    width: 41.46px;
    line-height: 13.28px;
    margin-right: 29.5px;
    cursor: pointer;
    
}

.slider-dot::after{
    content: url(../icons/arrow2.svg);
    display: inline-block;
    width: 41.46px;
    height: 13.28px;
    margin-left: 29.5px;
    line-height: 13.28px;
    cursor: pointer;
}

.slider-dot__item {
    width: 9.57px;
    height: 9.57px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 30px;
    cursor: pointer;
}

#slaider-image-1:target ~ .image-container{
    left: 0px;
}
#slaider-image-2:target ~ .image-container{
    left: -679px;
}
#slaider-image-3:target ~ .image-container{
    left: -1358px;
}

.section-third {
    height: 1072px;
    margin-top: -320px;
    /* display: flex;
    flex-direction: column; */
    
}

.section-third__container {
    width: 817px;
    display: flex;
    flex-direction: column;
    text-align: center;
    
}

.control {
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 0px 0px 13px 0px;
}

.control-vector {
    background: url(../icons/controlvector.svg) no-repeat center;
    height: 29px;
    margin: 0px 0px 31px 0px;
}

.control-vector::before{
    content: '';
    background: #E3B873;
    border-radius: 30px;
    width: 32px;
    height: 1.54px;
    display: inline-block;
}

.control-vector::after{
    content: '';
    background: #E3B873;
    border-radius: 30px;
    width: 32px;
    height: 1.54px;
    display: inline-block;
    margin-left: 50px;
}

.onlinecontrol {
    margin: 0px 0px 62.5px 0px;
    /* height: 434px;
    width: 817px;
    margin: 0px 0px 62.5px 0px;
    position: relative;
    z-index: 0; */
}

.onlinecontrol__item {
    object-fit: cover;
    width: 817px;
    height: 434px;
}
.onlinecontrol-wrapper {
    background: url(../icons/videoplay.svg) no-repeat center ;
    z-index: 2;
}

.hr::after{
    content: '';
    background: #E3B873;
    border-radius: 30px;
    height: 1.54px;
    width: 55px;
    display: inline-block;
}

.section-third__text {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 37px;
    text-align: center;
    color: #363636;
    /* height: 131px; */
    width: 681px;
    margin: 34.46px 68px 91px;
}

.section-third__form {
    display: flex;
    flex-direction: column;
    width: 770px;
    margin: 0 24px 0 24px;
}

.section-third-form__container {
    display: flex;
    justify-content: space-between;
    height: 51px;
    width: 769px;

}

.forms {
    display: flex;
    flex-direction: column ;
}

.label {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 21px;
    text-align: start;
    padding: 1px 2px;
}

.form-one {
    color: rgba(54, 54, 54, 0.5);
}

.form-one__checkbox {
    width: 231px;
    height: 32px;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid rgba(54, 54, 54, 0.3);
    padding: 1px 2px;
}

input[type="checkbox"]:checked 

.form-one__checkbox:placeholder-shown{
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 23px;
    color: #363636;
}

.button-two {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    width: 200px;
    height: 51px;
    line-height: 27px;
    
}

.first-checkbox {
    margin-top: 34px;
}

.checkbox-text {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 23px;
    cursor: pointer;
} 

.checkbox-one {
    color: #181818;
}

input[type="checkbox"] {
    display: none;
}

label {
    position: relative;
}

label.checkbox-text::before {
    content: "";
    background: url(../icons/checkboxvector2.svg);
    background-position: center;
    background-size: cover;
    width: 18px;
    height: 18px;
    position: absolute;
    left: -25px;
    transform: scale(0);
}

input[type="checkbox"]:checked + label::before {
    transform: scale(1);
}

label.checkbox-text::after {
    content: "";
    border: 1px solid #E3B873;
    border-radius: 1px;
    width: 16px;
    height: 16px;
    position: absolute;
    left: -25px;
}

.section-fourth {
    height: 1851px;
}

.section-fourth__container {
    width: 1265px;
    height: 1653px;
}

.repair-vector {
    background: url(../icons/repairvector.svg) no-repeat center;
    margin: 13px 0 31px 0;
    height: 28px;
}

.repair-vector::before{
    content: '';
    background: #E3B873;
    border-radius: 30px;
    width: 32px;
    height: 1.54px;
    display: inline-block;
    margin-left: 571px;
}

.repair-vector::after{
    content: '';
    background: #E3B873;
    border-radius: 30px;
    width: 32px;
    height: 1.54px;
    display: inline-block;
    margin-left: 50px;
}

.section-fourth-container__one {
    display: flex;
    justify-content: space-between;
    height: 608px;
    width: 1236px;
    margin: 0 14.5px;
    /* left: 100px;
    top: 1879px;
    border-radius: 0px; */
}

.m2__one {
    /* height: 554px;
    width: 392px; */
    background-image: url(../images/image3.jpg);
    width: 392px;
    height: 421px;
}

.div__m2 {
    background: #E3B873;
    box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
    height: 54px;
    width: 228px;
    border-radius: 0px;
    position: relative;
    top: 268px;
    margin-left: 31px;
    display: flex;
    align-items: center;

}
 
.price {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    /* line-height: 25px; */
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: center;
    
}
.price-one {
    margin: 17px 0 21.44px 21.44px;
}

.price-two {
    margin: 17px 0 21.44px 18.46px;
}

.price-three {
    margin: 17px 0 21.44px 16.57px;
}

.redecorating {
    background: #FFFFFF;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
    height: 286px;
    width: 330px;
    border-radius: 0px;
    margin: 0 31px;
    position: relative;
    top: 294px;
}

.redecorating-title {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: #363636;
    height: 21px;
    margin: 25px 68px 13px 34px;
    position: absolute;
    width: 228px;
    /* padding: 25px 13px 0 31px; */
    
    /* left: 164.999755859375px;
    top: 2197.999755859375px;
    border-radius: nullpx; */
}

.redecorating-list {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 27px;
    color: #959595;
    padding: 0px;
    margin: 59px 29px 49px 50px;
    position: absolute;
    width: 267px;
    height: 178px;
}

.m2__two {
    background-image: url(../images/image4.jpg);
    width: 392px;
    height: 421px;
}

.m2__three {
    background-image: url(../images/image5.jpg);
    /* background-size: cover; */
    width: 392px;
    height: 421px;
}

.repair {
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #181818;
}

.section-fourth-container__two {
    height: 725.44px;
    width: 1643px;
    margin-left: -303px;
    margin-top: 124px;
    display: flex;
}

.section-fourth-container-two__first {
    background: url(../images/backimage4.svg) no-repeat;
    width: 1006px;
    height: 645px;
    /* margin-top: 124px; */
    /* margin-left: -301px; */
    margin-bottom: 80.44px;
}

.backgraund-inside {
    height: 473.62px;
    width: 378.81px;
    margin: 125.14px 75.19px 54.24px 542px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.section-fourth-container-two__second {
    height: 619.44px;
    width: 506px;
    margin-top: 106px;
    margin-left: 46px;
}

.blackform {
    width: 506px;
    height: 509px;
    background-color: black;
    position: relative;
}

.blackform-title {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    width: 297px;
    height: 47px;
    margin: 28px 105px 39px 104px;
    position: absolute;
}

.checkbox-two {
    color: #FFFFFF;
}

.form-two {
    color: rgba(255, 255, 255, 0.5)
}

.form-two__checkbox {
    width: 408px;
    height: 32px;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    padding: 1px 2px;
    background-color: black;
    color: #FFFFFF;
}

.form-two__checkbox:placeholder-shown{
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 23px;
    /* color: #FFFFFF;
    background-color: black; */
}

.blackform-forms {
    margin: 114px 49px 151px 49px;
    position: absolute;
}

.forms-two {
    margin-top: 48px;
}

.button-three {
    width: 213px;
    border-radius: 0;
    line-height: 21px;
    position: absolute;
    top: 431px;
    left: 244px;
}

.second-checkbox {
    margin: 16px 0px 117px 29px;
    position: absolute;
}

.step{
    display: flex;
    justify-content: start;
}

.step__circle {
    width: 58px;
    height: 58px;
    /* border-radius: 30px;
    box-shadow: 0 0 0 8px black;
    background-color: #E3B873; */
    background: #E3B873;
    border: 8px solid #FFFFFF;
    box-shadow: 0px 5px 15px rgb(227 184 115 / 15%);
    border-radius: 30px;
}

.step__numb {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    text-align: center;
    color: #FFFFFF;
    display: block;
    /* margin-top: 8px;
    margin-left: 4.15px;
    line-height: 25px; */
    margin: 10.48px 4.61px 11.28px 4.15px;
    width: 33px;
    height: 20px;
}

.step__text {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #363636;
    width: 320px;
    height: 39px;
    margin: 8px 0 0 10px;
    display: flex;
    align-items: center;
}

.pig {
    width: 441px;
    height: 72px;
    display: flex;
    margin-top: 38.44px;
    margin-left: 33.44px;
}

.pig-circle {
    width: 72px;
    height: 72px;
    background: #E3B873;
    border-radius: 50px;
    box-shadow: 0px 10px 20px rgba(237, 192, 120, 0.2);
    position: relative;
}

.pig-svg {
    background: url(../icons/pig.svg) no-repeat center;
    width: 40px;
    height: 33.04px;
    position: absolute;
    top: 19.48px;
    left: 16px;
}

.pig-text {
    width: 344px;
    height: 47px;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    color: #E3B873;
    text-shadow: 0px 3px 10px rgba(227, 184, 115, 0.15);
    margin: 12.5px 0px 0px 25px;
}

.section-fifth {
    /* width: 1439px; */
    /* height: 866px; */
    background-image: url(../images/backimage5.jpg);
    background-size: cover;
    z-index: 0;
    position: relative;
}

.section-fifth__container {
    display: flex;
    position: relative;
}

.section-fifth__overlay {
    background: linear-gradient(109.8deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0.9) 100%);
    /* content: '';
    position: absolute; */
    height: 866px;
    /* width: 1439px; */
}

.inner {
    position: relative;
    z-index: 2;
}

.inner-first {
    height: 629px;
    width: 411px;
    position: absolute;
    z-index: 2;
    margin: 137.47px 77px 97.53px 0px;
}

.inner-title {
    letter-spacing: normal;
    width: 411px;
    height: 66px;
}

.inner-ul {
    width: 299px;
    height: 516px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 0;
    margin-top: 47px;
}

.inner-li__item {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 38px;
    color: #FFFFFF;
}

.inner-li__link {
    text-decoration: none;
    color: #FFFFFF;
}

.inner-li__link:hover{
    color: #E3B873;
    line-height: 38px;
    padding-bottom: 7px;
    border-bottom: 1px #E3B873 solid;
    cursor: pointer;
}

.inner-photos {
    display: flex;
    width: 750.31px;
    margin-left: 488px;
}

.inner-second {
    width: 353.81px;
    height: 945.86px;
    position: absolute;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: -40.5px;
}

.inner-second__foto1 {
    background: url(../images/photo1.jpg) no-repeat;
    width: 353.81px;
    height: 556.86px;
}

.inner-second__foto2 {
    background: url(../images/photo2.jpg) no-repeat;
    height: 349.47px;
    width: 353.81px;
}

.inner-third {
    width: 354px;
    height: 937px;
    position: absolute;
    z-index: 2;
    right: 0;
    margin-top: -112.5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.inner-third__foto3 {
    background: url(../images/photo3.png) no-repeat;
    width: 354px;
    height: 275px;
    
}

.inner-third__foto4 {
    background: url(../images/photo4.png) no-repeat;
    width: 353.81px;
    height: 625.23px;
}

.section-sixth {
    height: 1109px;
}

.section-sixth__container {
    height: 642.03px;
    width: 1236px;
    margin-top: 89.47px;
}

.vector-line {
    background: url(../icons/ourclients.svg) no-repeat center;
    margin: 13px 0 31px 0;
    height: 28px;
}

.vector-line::before{
    content: '';
    background: #E3B873;
    border-radius: 30px;
    width: 32px;
    height: 2.54px;
    display: inline-block;
    margin-left: 562px;
}

.vector-line::after{
    content: '';
    background: #E3B873;
    border-radius: 30px;
    width: 32px;
    height: 2.54px;
    display: inline-block;
    margin-left: 50px;
}

.repair-text{
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 29px;
    text-align: center;
    color: #363636;
}

.customers {
    height: 455.03px;
    display: flex;
    justify-content: space-between;
}

.customers-customer {
    width: 376px;
}

.custumers-custumer__box {
    height: 428px;
    background: #FFFFFF;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.04);
}

.customers-customer-box__title {
    width: 297px;
    display: flex;
    /* justify-content: space-between; */
    height: 122px;
    
}

.names {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    color: #181818;
    width: 178px;
    margin: 41px 0 0 23px;
}
.custumer-picture__one {
    background-image: url(../images/maria.png);
    width: 76px;
    height: 76px;
    display: inline-block;
    margin: 24px 0 0 20px;
    
}

.custumer-picture__two {
    background-image: url(../images/sergey.png);
    width: 76px;
    height: 76px;
    display: inline-block;
    margin: 24px 0 0 20px;
}

.custumer-picture__three {
    background-image: url(../images/egor.png);
    width: 76px;
    height: 76px;
    display: inline-block;
    margin: 24px 0 0 20px;
}

.costumer-text {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 23px;
    color: #959595;
    /* height: 216px; */
    width: 324.08px;
    margin: 0 0 0 20.09px;
}

.text-two {
    width: 324.08px;
    margin: 6px 0 0 20.09px;
}

.m2-days {
    width: 293.75px;
    height: 54px;
    margin-top: -27.03px;
    display: flex;
    background: #E3B873;
    box-shadow: 5px 5px 20px rgba(227, 184, 115, 0.5);
}

.m2-days__one {
 width: 135px;
 display: flex;
}

.m2-days__two {
    width: 159px;
    border-left: 0.75px solid #FFFFFF;
    display: flex;
}

.list {
    background: url(../icons/list.svg) no-repeat center;
    width: 32.78px;
    height: 33px;
    margin-top: 11px;
    margin-left: 17.27px;
}

.list-text {
    width: 108.62px;
}

.square {
    background: url(../icons/square.svg) no-repeat center;
    width: 32.34px;
    height: 31.34px;
    margin-top: 11px;
    margin-left: 17.36px;
}

.square-text {
    width: 85.38px;
}
.days {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 24px;
    text-transform: uppercase;
    text-align: center;
    color: #FFFFFF;

}

.section-seventh {
    height: 951px;
    background-image: url(../images/background7.png);
    /* background-size: cover; */
    z-index: 0;
    position: relative;
    /* width: 1140px;
    height: 953.9px; */
}

.section-seventh__container {
    width: 925px;
    display: flex;
    justify-content: center;
}

.blackform-two {
    width: 833px;
    height: 445.32px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: -222.66px;
    position: absolute;
    /* background: #181818; */
    background :linear-gradient(rgba(24, 24, 24) 3.47%, rgba(24, 24, 24) 100%);
    z-index: 0;
}

.blackform-forms-three {
    width: 520px;
    margin-left: 181.05px;
    margin-right: 181.05px;
}

.name-phone {
    display: flex;
    height: 45px;
    justify-content: space-between;
}

.button-four {
    border-radius: 0;
    margin-top: 50.45px;
}

.blackform-title-second {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 0 0 45.8px 0;
    height: 26px;
}

.form-three__checkbox {
    width: 516.82px;
}

.checkbox-three {
    color: #FFFFFF;
}

.color-checkbox {
    background :linear-gradient(rgba(24, 24, 24) 3.47%, rgba(24, 24, 24) 100%);
}

.form-three {
    width: 231px;
}

.sectoin-seventh-overlay {
    background: linear-gradient(180deg, rgba(24, 24, 24, 0.9) 3.47%, rgba(24, 24, 24, 0.72) 100%);
    height: 953.9px;
}

.blackform-two__container {
    height: 376.52px;
    margin: 34.4px 0;
}

.forms-question {
    margin-top: 48.76px;
}

.third-checkbox {
    margin-top: 46.46px;
}

.second-title {
    color: #E3B873;
    position: absolute;
    margin-top: 274.67px;
    width: 589px;
}

.contact-links {
    position: absolute;
    width: 71px;
    display: flex;
    justify-content: space-between;
    margin-top: 351.67px;
}

.map {
    position: absolute;
    margin-top: 422.97px;
}

.rostov {
    color: #E3B873;
}