@font-face {
    src: url('../fonts/NunitoSans-Regular.ttf');
    font-family: 'Nunito Sans';
}

@font-face {
    src: url('../fonts/YesevaOne-Regular.ttf');
    font-family: 'Yeseva One';
}

body {
    margin: 0;
    font-family: 'Nunito Sans', Arial;
}

body * {
    box-sizing: border-box;
}

.container {
    max-width: 1256px;
    margin: 0 auto;
}

.button {
    background: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border-radius: 2px;
    outline: 0;
    border: 0;
    padding: 13px 33px;
    font-style: italic;
    font-weight: normal;
    font-size: 11px;
    line-height: 15px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    height: 37px;
    width: 161px;
    cursor: pointer;
}

.logo {
    color: #E3B873;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 15px;
    text-transform: uppercase;
}

.header {
    background-color: #131313;
}

.header-content {
    display: flex;
    justify-content: space-between;
    height: 83px;
    align-items: center;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 15px;
    text-transform: uppercase;
}

.header-navigation {
    list-style: none;
    display: flex;
}

.header-navigation__item {
    margin-right: 47px;
}

.header-navigation__link {
    text-decoration: none;
    color: #FFFFFF;
}

.header-navigation__link:hover {
    position: relative;
    transition-property: color;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
    color: #E3B873;
}

.link-number {
    text-decoration-line: underline;
}

.imageback {
    background-image: url(../images/imageback.jpg);
    background-size: cover;
    height: 707px;
    padding-top: 194px;
}

.imageback-overlay {
    content: '';
    position: absolute;
    top: 83px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .7);
    height: 707px;
}

.imageback-container {
    position: relative;
    z-index: 1;
}

.title {
    margin: 0;
    font-style: normal;
    font-family: 'Yeseva One', 'Times New Roman', Times, serif;
    font-weight: normal;
    font-size: 40px;
    line-height: 53px;
    text-transform: uppercase;
    color: #FFFFFF;
    width: 676.11px;
}

.rostov {
    color: #E3B873;
}

.subtitle {
    /* margin: 0; */
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 36px;
    color: #FFFFFF;
    width: 504px;
}

.cost {
    padding: 19px 42px 20.65px 41px;
    width: 207px;
    height: 51px;
}

.application {
    padding: 19px 23px 20.57px 22px;
    background: none;
    box-shadow: none;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 2px;
    text-align: center;
    width: 207px;
    height: 51px;
}

.button__space {
    width: 434px;
    display: flex;
    justify-content: space-between;
}

.section-second  {
    background-color: #131313;
    height: 1074px;
    margin: 0;
    /* padding-left: 130px; */
}

.section-second__container {
    height: 553px;
    width: 1171px;
    padding-top: 107px;
}

.sub-navigation {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    /* width: 623px;
    height: 24px; */
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.3);
}

.sub-navigation__item {
   padding-right: 60px;
   /* display: list-item; */

}

.sub-navigation__link {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.3);

}

.sub-navigation__link:hover {
    color: #E3B873;
    text-decoration-line: underline;

}


.section-second-container {
    display: flex;
    flex-direction: row;
}

.container-second {
    display: flex;
    justify-content: space-between;
}

.imege {
    background-image: url(../images/image2.1.jpg);
    height: 483px;
    width: 679px;
    padding: 10px;
    
}

.completed {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    line-height: 37px;
    letter-spacing: -0.07em;
    text-transform: uppercase;
    height: 66px;
    width: 253px;
    margin: 0;
}

.second-text__two {
    height: 201px;
    width: 476px;
    display: flex;
    flex-flow: column wrap;
    
}

.second-text-two__div1 {
    height: 150px;
    width: 156px;
    /* padding-left: 34px;
    padding-bottom: 34px; */
}

.second-text-two__div2 {
    height: 150px;
    width: 213px;
}
.div-title {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: #E3B873;
    margin: 18px 0px;
}

.div-subtitle {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 21px;
    color: #FFFFFF;
    padding: 0px;
    margin: 0px;
}

.div-subtitle__third {
   padding: 0px 0px 15px;
}
.subtitle-second {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 27px;
    color: #FFFFFF;
}

.section-third {
    height: 1072px;
    margin-top: -320px;
    /* display: flex;
    flex-direction: column; */
    
}

.section-third__container {
    width: 817px;
    display: flex;
    flex-direction: column;
    text-align: center;
    
}

.control {
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 0px 0px 13px 0px;
}

.container-control__vector {
    background: url(../icons/Group\ 45.svg) no-repeat center;
    height: 29px;
    margin: 0px 0px 31px 0px;
    /* text-align: center; */
    /* left: 377px;
    top: 1380.4998779296875px;
    border-radius: 0px; */
}

.onlinecontrol {
    margin: 0px 0px 62.5px 0px;
    /* height: 434px;
    width: 817px;
    margin: 0px 0px 62.5px 0px;
    position: relative;
    z-index: 0; */
}

.onlinecontrol__item {
    object-fit: cover;
    width: 817px;
    height: 434px;
}
.onlinecontrol-wrapper {
    background: url(../icons/videoplay.svg) no-repeat center ;
    /* filter: drop-shadow(0px 20px 50px rgba(0, 0, 0, 0.15));
    height: 85px; ;
    width: 85px;
    margin: 0px 0px 62.5px 0px;
    position: absolute;
    right: 0;
    top: 0; */
    z-index: 2;
}

/* .onlinecontrol-wrapper::before{
    height: 434px;
    width: 817px;
    border-radius: 0px;
    content: '';
    position: absolute;
    background:rgba(0, 0, 0, 0.15);
    z-index: 2;
} */

/* .image2-overlay {
    height: 434px;
    width: 817px;
    left: 309px;
    top: 847.9998779296875px;
    border-radius: 0px;
    content: '';
    position: absolute;
    background:rgba(0, 0, 0, 0.15); 
} */

.hr  {
    background-image: url(../icons/hr.jpg);
    height: 1.54px;
    width: 55px;
    margin: 0px 381px 34px;

}

.section-third__text {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 37px;
    text-align: center;
    color: #363636;
    /* height: 131px; */
    width: 681px;
    margin: 0px 68px 91px;
}

.section-third__form {
    display: flex;
    flex-direction: column;
    width: 770px;
    margin: 0 24px 0 24px;
}

.section-third-form__container {
    display: flex;
    justify-content: space-between;
    height: 51px;
    width: 769px;

}

.section-third-form__one {
    display: flex;
    flex-direction: column ;
}

.form-one__label {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 21px;
    text-align: start;
    color: rgba(54, 54, 54, 0.5);
    padding: 1px 2px;
}

.form-one__checkbox {
    width: 231px;
    height: 32px;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid rgba(54, 54, 54, 0.3);
    padding: 1px 2px;
}

input[type="checkbox"]:checked 

.form-one__checkbox:placeholder-shown{
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 23px;
    color: #363636;
}

.section-third__button {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    width: 200px;
    height: 51px;
    /* line-height: 27px; */
    
}

.first-checkbox {
    margin-top: 34px;
}

.checkbox-text {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 23px;
    color: #181818;
    cursor: pointer;
} 

input[type="checkbox"] {
    display: none;
}

label {
    position: relative;
}

label.checkbox-text::before {
    content: "";
    background: url(../icons/checkboxvector2.svg);
    background-position: center;
    background-size: cover;
    width: 18px;
    height: 18px;
    position: absolute;
    left: -25px;

    transform: scale(0);
}

input[type="checkbox"]:checked + label::before {
    transform: scale(1);
}

label.checkbox-text::after {
    content: "";
    border: 1px solid #E3B873;
    border-radius: 1px;
    width: 16px;
    height: 16px;
    position: absolute;
    left: -25px;
}

.section-fourth {
    height: 1851px;
}

.section-fourth__container {
    width: 1265px;
    height: 1653px;
}

.repair-vector {
    background: url(../icons/Group\ 2.9.svg) no-repeat center;
    margin: 13px 0 31px 0;
    height: 28px;
}


.m2 {
    display: flex;
    justify-content: space-between;
    height: 608px;
    width: 1236px;
    margin: 0 14.5px;
    /* left: 100px;
    top: 1879px;
    border-radius: 0px; */
}

.m2__one {
    /* height: 554px;
    width: 392px; */
    background-image: url(../images/image3.jpg);
    width: 392px;
    height: 421px;
}

.div__m2 {
    background: #E3B873;
    box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
    height: 54px;
    width: 228px;
    border-radius: 0px;
    position: relative;
    top: 268px;
    margin-left: 31px;
    display: flex;
    align-items: center;

}
 
.price {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    /* line-height: 25px; */
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: center;
    
}
.price-one {
    margin: 17px 0 21.44px 21.44px;
}

.price-two {
    margin: 17px 0 21.44px 18.46px;
}

.price-three {
    margin: 17px 0 21.44px 16.57px;
}

.redecorating {
    background: #FFFFFF;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
    height: 286px;
    width: 330px;
    border-radius: 0px;
    margin: 0 31px;
    position: relative;
    top: 294px;
}

.redecorating-title {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: #363636;
    height: 21px;
    margin: 25px 68px 13px 34px;
    position: absolute;
    width: 228px;
    /* padding: 25px 13px 0 31px; */
    
    /* left: 164.999755859375px;
    top: 2197.999755859375px;
    border-radius: nullpx; */
}

.redecorating-list {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 27px;
    color: #959595;
    padding: 0px;
    margin: 59px 29px 49px 50px;
    position: absolute;
    width: 267px;
    height: 178px;
}

.m2__two {
    background-image: url(../images/image4.jpg);
    width: 392px;
    height: 421px;
}

.m2__three {
    background-image: url(../images/image5.jpg);
    /* background-size: cover; */
    width: 392px;
    height: 421px;
}

.repair {
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #181818;
}